# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*

# Вспомогательные файлы
*.log
npm-debug.log*
node_modules/
uploads/
db/
tmp/

# Папка с собранными файлами проекта
build/

# Локальные файлы конфигураций
.env
.vs
