.Theme_color_default {
  --color-green-500: #00b341;
  --color-red-500: #ff3333;
  --color-red-600: #e00000;
  --color-orange-500: #ff9a00;

  --color-bg-default: #ffffff;
  --color-bg-accent: #f0f2f3;
  --color-bg-icon: #b3b3b3;

  --color-bg-control: #e6e6e6;
  --color-bg-control-hovered: #dbdbdb;
  --color-bg-control-outline: #b3b3b3;
  --color-bg-control-disabled: #f2f2f2;

  --color-bg-action: #ffcc00;
  --color-bg-action-hovered: #f2c200;
  --color-bg-action-outline: #b38f00;

  --color-border-default: #d9d9d9;
  --color-border-focused: #b3b3b3;

  --color-text-primary: #000000;
  --color-text-secondary: #7f8285;
  --color-text-alternate: #595959;
  --color-text-placeholder: #cccccc;

  --color-link-hovered: var(--color-red-600);

  --color-required: var(--color-red-500);
  --color-success: var(--color-green-500);
  --color-pending: var(--color-orange-500);
  --color-fail: var(--color-red-500);
}
