.Theme_size_default {
  --text-size-s: 13px;
  --text-size-m: 15px;
  --text-size-l: 16px;
  --text-size-xl: 18px;
  --text-size-xxl: 24px;

  --text-line-height-s: 16px;
  --text-line-height-m: 18px;
  --text-line-height-l: 20px;
  --text-line-height-xl: 22px;
  --text-line-height-xxl: 28px;
  --text-line-height-xxxl: 30px;

  --container-max-width: 860px;
}
