
.Intro-Wrapper {
  margin: 0 auto;
  width: 264px;

  text-align: center;
}

.Intro-Logo {
  margin-bottom: var(--space-m);
}

.Intro-Label {
  margin-top: var(--space-l);
  margin-bottom: var(--space-xl);
}
