
.Input {
  position: relative;
}

.Input-Control {
  padding: 8px 11px;
  width: 100%;
  border: 2px solid var(--color-border-default);
  border-radius: 4px;

  outline: none;
}

.Input-Control::placeholder {
  color: var(--color-text-placeholder);
}

.Input-Control::-webkit-outer-spin-button,
.Input-Control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Input input[type=number] {
  -moz-appearance: textfield;
}

.Input-Control:focus {
  border-color: var(--color-border-focused);
}

.Input-Clear {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;

  display: none;
  padding: 0;

  font: 0/0 a;
  color: transparent;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.Input-Icon {
  width: 16px;
  height: 16px;
  fill: var(--color-text-placeholder);
}

.Input_cleanable .Input-Clear {
  display: block;
}

.Input_cleanable .Input-Clear_hidden {
  display: none;
}

.Input_cleanable .Input-Control {
  padding-right: 30px;
}

.Input_textAlign_right .Input-Control {
  text-align: right;
}
